
<br />
@Model["question"]
<hr />
<br />
<div id="1"><button>@Model["correctAnswer"]</button><br /></div>
<div id="2"><button>@Model["otherAnswer1"]</button><br /></div>
<div id="3"><button>@Model["otherAnswer2"]</button><br /></div>
<div id="4"><button>@Model["otherAnswer3"]</button><br /></div>
