

@{
    ViewData["Title"] = "Game Page";
}

@*@model TriviaGroupProject.Models.Player;*@ @*Instead we are going to use a Partial to show the score in the upper right hand corner*@

<h1>Play the trivia game!</h1>


<br />
@Model["question"]
@Model["pointValue"]
<hr />
<br />
<div id="1"></div>
<div id="2"></div>
<div id="3"></div>
<div id="4"></div>

<div id="Answers"></div>



<!-- Modal -->
<div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="Modal"></div>
        </div>
    </div>
</div>
<!-- End of Modal -->



@*//NOTE OUT PARTIAL VIEW*@
<script type="text/javascript">
    function shuffleArray(array) {
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;
        }
        return array;
    }

    $(document).ready(function () {
        var arrayLength = 4;
        var numberArray = [];
        for (i = arrayLength; i > 0; i--)
        {
            numberArray.push(i);
        }
        
        var randomizedArray = shuffleArray(numberArray);

        $("#" + randomizedArray[0] + "").append("<button class='correct' data-toggle='modal' data-target='#textModal'>@Model["correctAnswer"]</button><br />")
        $("#" + randomizedArray[1] + "").append("<button class='fail'>@Model["otherAnswer1"]</button><br />")
        $("#" + randomizedArray[2] + "").append("<button class='fail'>@Model["otherAnswer2"]</button><br />")
        $("#" + randomizedArray[3] + "").append("<button class='fail'>@Model["otherAnswer3"]</button><br />")

        $(".correct").click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("CorrectModal")',
                success: function (result) {
                    $('#Modal').html(result);
                }
            });

        })
        $(".fail").click(function () {
            alert("You suck!");

        })
     });
</script>