

@{
    ViewData["Title"] = "Game Page";
}
<h1>Play the trivia game!</h1>
<div id="Score">Score: </div>
<p>
    Point Value: @if(Model["pointValue"] == "")
    {
        <p>SPECIAL CASE</p>
    }
    @if (Model["pointValue"] != "")
    {
         @Model["pointValue"]
    }

</p>


<br />
@Model["question"]
<hr />
<br />
<div id="1"></div>
<div id="2"></div>
<div id="3"></div>
<div id="4"></div>

<div id="Answers"></div>



<!-- Modal -->
<div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="Modal"></div>
        </div>
    </div>
</div>
<!-- End of Modal -->
@Html.ActionLink("Return to Homepage", "Index", "Home")


@*//NOTE OUT PARTIAL VIEW*@
<script type="text/javascript">
    function shuffleArray(array) {
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;
        }
        return array;
    }

    $(document).ready(function () {
        var arrayLength = 4;
        var numberArray = [];
        for (i = arrayLength; i > 0; i--)
        {
            numberArray.push(i);
        }

        var randomizedArray = shuffleArray(numberArray);

        $("#" + randomizedArray[0] + "").append("<button class='correct' data-toggle='modal' data-target='#textModal' value='@Model["pointValue"]'>@Model["correctAnswer"]</button><br />")
        $("#" + randomizedArray[1] + "").append("<button class='fail' data-toggle='modal' data-target='#textModal'>@Model["otherAnswer1"]</button><br />")
        $("#" + randomizedArray[2] + "").append("<button class='fail' data-toggle='modal' data-target='#textModal'>@Model["otherAnswer2"]</button><br />")
        $("#" + randomizedArray[3] + "").append("<button class='fail' data-toggle='modal' data-target='#textModal'>@Model["otherAnswer3"]</button><br />")

        $.ajax({
            type: 'GET',
            dataType: 'html',
            data: { id: this.value },
            url: '@Url.Action("ShowPointValue")',
            success: function (result) {
                $('#Score').html(result);
            }
        });
        $(".correct").click(function () {
            console.log(this.value); 
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("CorrectModal")',
                success: function (result) {
                    $('#Modal').html(result);
                }
            });

        })
        $(".fail").click(function () {
            var counter = counter++;
            if (counter === 5) {


            }
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("WrongModal")',
                success: function (result) {
                    $('#Modal').html(result);
                }
            });

        })
     });
</script>