@{
    ViewData["Title"] = "Game Page";
}

<div id="playerInfo">
    <h1>Trivia!</h1>    
    <div id="Score">Score: </div>
</div>

<hr />
<br />

<h1>@Model["question"]</h1>
<h3>Point Value: @Model["pointValue"] | Time left: <b><span class="countdown"></span></b> seconds</h3>

<hr />

<div id="1"></div>
<div id="2"></div>
<div id="3"></div>
<div id="4"></div>

<div id="Answers"></div>


<!-- Modal -->
<div class="modal fade" id="textModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard='false' data-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               
            </div>
            <div id="Modal"></div>
        </div>
    </div>
</div>
<!-- End of Modal -->

<script type="text/javascript">
    function shuffleArray(array) {
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;
        }
        return array;
    }

    var setUpQuestions = function () {
        var arrayLength = 4;
        var numberArray = [];
        for (i = arrayLength; i > 0; i--)
        {
            numberArray.push(i);
        }

        var randomizedArray = shuffleArray(numberArray);

        $("#" + randomizedArray[0] + "").append("<button class='correct btn btn-block btn-lg btn-info' data-toggle='modal' data-target='#textModal' value='@Model["pointValue"]' data-keyboard='false' data-backdrop='static'>@Model["correctAnswer"]</button><br />")
        $("#" + randomizedArray[1] + "").append("<button class='fail btn btn-block btn-lg btn-info' data-toggle='modal' data-target='#textModal' data-keyboard='false' data-backdrop='static'>@Model["otherAnswer1"]</button><br />")
        $("#" + randomizedArray[2] + "").append("<button class='fail btn btn-block btn-lg btn-info' data-toggle='modal' data-target='#textModal' data-keyboard='false' data-backdrop='static'>@Model["otherAnswer2"]</button><br />")
        $("#" + randomizedArray[3] + "").append("<button class='fail btn btn-block btn-lg btn-info' data-toggle='modal' data-target='#textModal' data-keyboard='false' data-backdrop='static'>@Model["otherAnswer3"]</button><br />")
    };

    $(document).ready(function () {
        setUpQuestions();

        var timeOutFunction = setTimeout(function () { timeOut() }, 8000);
        function timeOut() {
            console.log("timeOut function has run");
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("TimeOutModal")',
                success: function (result) {
                    $('#Modal').html(result);
                    $("#textModal").modal('toggle');
                }
            });
        }

        var initialTime = 6;
        var timer = setInterval(function () { pageTimer(initialTime) }, 1000);
        var pageTimer = function () {
            console.log("Hello")
            $(".countdown").text(initialTime)
            initialTime--;
            if (initialTime < 0) {
                clearInterval(timer);
                initialTime = 6;
            }
        }

        $.ajax({
            type: 'GET',
            dataType: 'html',
            data: { id: this.value },
            url: '@Url.Action("ShowPointValue")',
            success: function (result) {
                $('#Score').html(result);
            }
        });

        $(".correct").click(function () {
            clearTimeout(timeOutFunction);
            clearInterval(timer);
            console.log(this.value);
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("CorrectModal")',
                success: function (result) {
                    $('#Modal').html(result);
                }
            });
        })

        $(".fail").click(function () {
            clearTimeout(timeOutFunction);
            clearInterval(timer);
            $.ajax({
                type: 'GET',
                dataType: 'html',
                data: { id: this.value },
                url: '@Url.Action("WrongModal")',
                success: function (result) {
                    $('#Modal').html(result);
                }
            });
        })
     });
</script>